<div class="alert alert-muted d-flex align-center">
    {{svg "web/img/embedded-question.svg"}}
    OverOps was unable to generate a Quality Report.
</div>
<div class="d-flex align-center mb-2 mt-4">
    {{svg "web/img/embedded-question.svg"}}
    <h4>An error occurred while generating a Quality Report.</h4>
</div>
<ul class="unstyled">
    <li>
        <a href="https://support.overops.com/hc/en-us/articles/360041054474-Best-Practice-Short-lived-application-considerations" target="_blank" rel="nofollow">
            Best practices for short lived applications &rarr;
        </a>
    </li>
    <li>
        <a href="https://support.overops.com/" target="_blank" rel="nofollow">
            OverOps Support Portal &rarr;
        </a>
    </li>
    <li>
        <a href="mailto:support@overops.com?{{emailMessage}}" target="_blank" rel="nofollow">
            Contact OverOps Support &rarr;
        </a>
    </li>
</ul>
<hr/>
<code class="mb-2">{{exceptionMessage}}</code>
<pre class="muted mb-2">{{stackTrace}}</pre>