{{#if markedUnstable}}
    {{#if unstable}}
        <div class="alert alert-danger d-flex align-center">
            {{svg "web/img/embedded-danger.svg"}}
            {{summary}}
        </div>
    {{else}}
        <div class="alert alert-success d-flex align-center">
            {{svg "web/img/embedded-success.svg"}}
            {{summary}}
        </div>
    {{/if}}
{{else}}
    {{#if unstable}}
        <div class="alert alert-warning d-flex align-center">
            {{svg "web/img/embedded-warning.svg"}}
            {{summary}}
        </div>
    {{else}}
        <div class="alert alert-success d-flex align-center">
            {{svg "web/img/embedded-success.svg"}}
            {{summary}}
        </div>
    {{/if}}
{{/if}}